<div class = "articles view">
	<h2> <?php echo __('Article'); ?> </h2>
		<p> Title : </p>
		<?php echo h($article['Article']['title']); ?>		
		<p> Summary : </p>
		<?php echo h($article['Article']['summary']); ?>
		<p> Content : </p>
		<?php echo h($article['Article']['content']); ?>
		<p> Created : </p>
		<?php echo h($article['Article']['created']); ?>
		<p> Update : </p>
		<?php echo h($article['Article']['updated']); ?>
</div>