<h1> Add Post </h1>
<?php
	echo $this->Form->create('Post'); 
	// Ini sama seperti <form id ="PostAddForm" method="post" action="/posts/add">
	echo $this->Form->input('title');
	echo $this->Form->input('body', array('rows'=>'3'));
	echo $this->Form->end('Save Post');
?>