<h2> Blog Posts </h2>
<p><?php 
echo $this->Html->link("Add Post", array('action'=>'add'));
?></p>
<table>
	<tr>
		<th> ID </th>
		<th> Title </th>
		<th> Action </th>
		<th> Created </th>
	</tr>
	<?php foreach ($posts as $post): ?>
	<tr>
		<td> <?php echo $post['Post']['id']; ?> </td>
		<td> <?php echo $this->Html->link($post['Post']['title'],
		array('action' => 'view', $post['Post']['id'])); ?> </td>			
		<td> <?php echo $this->Form->postLink('Delete',
		array('action'=>'delete',$post['Post']['id']),
		array('confirm'=>'Are you sure?')); ?>
		 <?php echo $this->Html->link('Edit', 
		 array('action'=>'edit', $post['Post']['id'])); ?> </td>	
		<td> <?php echo $post['Post']['created']; ?>		</td>
	</tr>
	<?php endforeach; ?>
	<?php /* unset($post); */?>
	
	<?php /*
	echo $this->Html->link('Add Post', 
	array('controller'=>'posts','action'=>'add')); */
	?>
</table>