<script src = "jquery.js" />
<table>
	<tr>
		<th> ID </th>
		<th> Judul </th>
		<th> Penulis </th>
		<th> Harga </th>
		<th> Deskripsi </th>
		<th> Tanggal Entri </th>
	</tr>
	
	<?php foreach ($books as $book); ?>
	
	<tr>
		<td> <?php echo $book['Book']['id'] ?> </td>
		<td> <?php echo $book['Book']['title'] ?> </td>
		<td> <?php echo $book['Book']['author'] ?> </td>
		<td> <?php echo $book['Book']['price'] ?> </td>
		<td> <?php echo $book['Book']['description'] ?> </td>
		<td> <?php echo $book['Book']['created'] ?> </td>
	</tr>
	<?php endforeach ?>
</table>