<h1>Blog Posts</h1>
<table>
	<tr>
		<td> ID </td>
		<td> Title </td>
		<td> Created </td>
	</tr>
		<?php foreach ($posts as $post); ?>
	<tr>
		<td> <?php echo $post['Post']['id']; ?> </td>
		<td> <?php echo $this->Html->link($post['Post']['title'], array('controller' => 'posts', 'action' => 'view', $post['Post']['id'])); ?> </td>
		<td> <?php echo $post['Post']['created']; ?> </td>
	</tr>
		<?php endforeach; ?>
</table>
